# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = jiandan.settings

[deploy]
url = http://xx.xx.xx.xx:6801/
project = jiandan
username = xxx
password = xxx
